html{
    font-family: Verdana, Tahoma, sans-serif;
    color: white;
}
.ListComponent{
    padding: 5px;
    margin: 10px 0;
    font-size: 20px;
    border-radius: 10px;
    background-color: #5e5e5e;
}
ul{
    list-style: none;
    padding-left: 0;
}